.hero {
  height: 731px;
  padding-top: 180px;
  padding-bottom: 90px;
  text-align: center;
  background-image: url("/images/house.jpg");
  background-repeat: no-repeat;
  background-position: center;

  &__icon {
    margin-bottom: 37px;
  }

  &__title {
    color: var(--font-color);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 37px;
  }

  &__text {
    margin-bottom: 113px;
    font-style: normal;

    line-height: 1.4;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--font-color);
  }
}
